################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/PINGBICENG/x64/Debug
/PINGBICENG/.vs/MFCApplication123/v15
